/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
ul { list-style-type:none; text-align:center; margin:0auto; padding:0px; display:block; overflow:hidden; background:#dddddd;}   
 
li { display:inline-block; }

li a {display:block; padding:8px; background-color: #dddddd;}
*/

/*
.main-nav ul {
  display: flexbox;
  justify-content: center;
}
*/


header nav ul {
  margin: 0;
  height: 62px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin-right: 16px;
}

header nav ul li:last-child {
  margin-right: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffcf5c;
  font-size: 1.25rem;  
}

header nav ul li a:hover {
  color: white;
}

strong {
  font-weight: 600;
}

.pageHeader {
  background-color: #42596b;
  font-family: Signika,Roboto,Helvetica,Arial,sans-serif;
}

.container {
  padding: 1rem;
}

.tickybot {
  background-color: #55c0ec;
  margin: 0 auto;
}

.tickybotContainer {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: center;
  align-items: center;
}

.tickybotInfo{  
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  justify-content: center;
  align-items: center;
}

.tickybotDesc {
  color: #fff;
  font-size: 1.675rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 2rem;
}

.tickybotInfo h1{
    color: rgba(0,0,0,.6);
    font-size: 3rem;
    letter-spacing: -.1875rem;
    line-height: 1;
    margin-bottom: 2rem;

    display:flex;
    align-items: center;
    justify-content: center;
}

.tickybotDesc {
  color: #fff;
  font-size: 1.675rem;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 2rem;
}

.tickyBotInfoButton {
    -webkit-appearance: button;
    text-decoration: none;
    color: initial;

    cursor: pointer;
    font-size: 1.75rem;

    display:flex;
    align-items: center;
    
}

.tickybotImg {
  width: 50%;
  }


.aboutSec {
  padding: 10px;
}

.sectionHeading {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: -.125rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  position: relative;
}

.aboutFirst {
  text-align: center;
  display : flex;
  padding: 10px;
}

.aboutFirstContent {
  padding:2rem;
}

.aboutSecond {
  text-align: center;
  display : flex;
  padding: 10px;
}

.features {
  background-color: #90ddaa;
  text-align: center;
}


.features div, features-box1 div {
  /*
  debugging
  border : 1px #ccc solid;
  */
}

.features-box {
  display: flex;
  justify-content: space-between;
}

.features-box1 {
  flex-basis:30%;
  padding: 10px; 
  background-color: #40596b;
  display:flex;
  flex-direction: column;
}

.featureImg{
  margin: 4rem 0;
  width:200px;
  height: 200px;
}

.desc{
  background-color: #fafafa;
  padding: 1rem;
}

footer p {
  text-align: center;
}

.pageFooter {
  margin: 0 auto;
  font-size: .825rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.backToTop {
    background-color: #ffd05a;
    height : 40px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: .5rem .5rem 0;
    bottom: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 99;
}


